---
import '../style/style.css'
import Header from '../components/Header.astro';
const { title } = Astro.props;
import Footer from '../components/Footer';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#00E474" />
    <title >{title}</title>
</head>
<body>
    <Header/>
    <slot/>
</body>

<Footer/>
</html>
