---
import Layout from "../layouts/layout.astro"
import Goback from "../components/Goback";
---

<script>
    const observer = new IntersectionObserver((entries) => {
   entries.forEach((entry) => {
      if(entry.isIntersecting) {
         entry.target.classList.add('show');
         
      }
   });
  });
 
  const hiddenElements = document.querySelectorAll('.hide');
  hiddenElements.forEach((item) => observer.observe(item));


  //loading

window.addEventListener("load", () => {
  const loader = document.querySelector(".loader") as HTMLElement;
  loader.classList.add("loader-hidden");

  loader.addEventListener("transitionend", () => {
    if(loader){
  
    document.body.removeChild(loader);
   
}
  });
});


 </script>

<Layout title='Forêt | contact us'>

    <!--loader -->

<div class="loader"></div>
    
<div class="flex md:flex-row flex-col">
  <main class="contact md:pl-20 h-[55vh] md:h-[100vh] relative ">
       
    <div class="hide pt-28 ">
       <!--go back btn -->
    <Goback client:load/>
    
   
    <!--title -->
     <div class="flex justify-center">
      
      <h1 class="text-white md:mx-44 text-5xl mt-16 md:mt-40 font-bold border-b-2 border-[var(--app-second-col)]">Contact us</h1>
    </div>  

      </div>
      <div class='hero-fade absolute bottom-0 w-full'>
     </div>


</main>


<!--secition form -->

<section class="bg-[var(--app-col)] p-10 flex justify-center md:w-[70vw] md:mx-auto">
<form  class='md:absolute relative md:top-20 flex flex-col justify-center p-3 md:w-[35vw] hide'>
    <label class='bg-black w-20 font-semibold rounded-md flex justify-center p-1 my-4 text-white'>Name</label>
    <input
    type="text"
    name='name'
    id='name'
    placeholder='Your Name'
    class='p-2 rounded-md outline-none'/>
    <label class='bg-black w-20 font-semibold rounded-md flex justify-center p-1 my-4 text-white'>Email</label>
    <input
    type="text"
   
    name='email'
    id='email'
    placeholder='Email Address'
    class='p-2 rounded-md outline-none'/>
    <label class='bg-black w-20 font-semibold rounded-md flex justify-center p-1 my-4 text-white'>Message</label>
    <input
    type="text"
    name='message'
    id='message'
    placeholder='Message' 
    class='px-2 pt-2 pb-36 rounded-md outline-none'/>
    <button class='my-5 rounded-md cursor-pointer bg-[var(--app-second-col)] text-white font-bold p-1 hover:bg-gray-800 hover:scale-105 duration-300' type='submit'  value='send'>Submit</button>
</form>
</section>
</div>

 
</Layout>