---
import Layout from "../layouts/layout.astro";
---

<Layout title='Forêt'>
	<!-- background pic -->
<main class="bg-hero h-[70vh] relative">

    <!--bg hero -->
    <div class="flex justify-center items-center pt-40 flex-col">
       <h1 class="text-white text-5xl font-bold border-b-2 border-[#f7ebb3]">Discover</h1>

       <p class="text-center text-white hero mt-8 w-44">The most beautiful forests around the globe.</p>
    </div>
     <div class="hero-fade absolute bottom-0 text-white w-full">
     </div>

 </main>

 <!--body sections -->


 <section class="bg-[var(--app-col)] pt-20">
   <h1 class="text-white">About us</h1>
 </section>

	
</Layout>
