---
import Layout from "../layouts/layout.astro";
---

<Layout title='Forêt'>
	
	<!-- background pic -->
      <main>
        <img src={'/bg.forest.jpg'} alt="backgound" class="absolute top-0 z-[-1] h-[60vh] object-cover">
         
         <h1>Explore</h1>
          
	  </main>
</Layout>
