---
import Layout from "../layouts/layout.astro";
---

<Layout title='Forêt'>
	<!-- background pic -->
<main>

    <!--bg hero -->

    <img src="/bg.forest.jpg" alt="" class="absolute top-0 z-[-1] h-[70vh] object-cover">
     
    <div class="flex justify-center items-center mt-40 flex-col">
       <h1 class="text-white text-5xl font-bold border-b-2 border-[#f7ebb3]">Discover</h1>

       <p class="text-center text-white hero mt-8 w-44">The most beautiful forests around the globe.</p>
    </div>
     
 </main>

	
</Layout>
