---
import Layout from "../layouts/layout.astro";
---

<Layout title='Neo Tokyo'>
	
	<!-- background pic -->
      <main>
          <img src="https://images8.alphacoders.com/101/1017513.jpg" alt="" class="absolute top-0 z-[-1]">
	  </main>
</Layout>
