---
import Layout from "../layouts/layout.astro";
import ScrollTop from "../components/ScrollTop";
---

<script>
   const observer = new IntersectionObserver((entries) => {
  entries.forEach((entry) => {
     if(entry.isIntersecting) {
        entry.target.classList.add('show');
     }
  });
 });

 const hiddenElements = document.querySelectorAll('.hide');
 hiddenElements.forEach((item) => observer.observe(item));


//loading

window.addEventListener("load", () => {
  const loader = document.querySelector(".loader") as HTMLElement;
  loader.classList.add("loader-hidden");

  loader.addEventListener("transitionend", () => {
    document.body.removeChild(loader);
  });
});


</script>


<Layout title='Forêt'>

<!--loader -->

<div class="loader"></div>

	<!-- background pic -->

<main class="bg-hero h-[95vh] relative flex justify-center items-center pt-10 flex-col">

    <!--bg hero -->

    <div class="hide">
      <h1 class="text-white text-5xl font-bold border-b-2 border-[var(--app-second-col)]">Discover</h1>

      <p class="text-center text-white hero mt-8 w-44">The most beautiful forests around the globe.</p>
      
    </div>
    <div class='hero-fade absolute bottom-0 w-full'>
   </div>

 </main>

 <!--body sections -->


 <section class="bg-[var(--app-col)] py-20 flex flex-col justify-center items-center">
   


      <h2 id="about" class="text-white text-2xl mt-5 font-bold border-b-2 border-[var(--app-second-col)] hide">About us</h2>


 
 
      <p class="text-white text-sm text-center mx-16 mt-16 hide">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis animi distinctio praesentium, sint officiis voluptates. Illum, dolorum. Eos, cum aliquid?</p>

   <!-- image of about us -->
  
   <img src="/black-forest.jpg" alt="black-forest" class="w-[95vw] hide mt-10 rounded-md">

   <small class="text-gray-700 text-xs mt-2">[Black forest - Germany]</small>

   <p class="text-white text-sm hide text-center mx-16 mt-16">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse facilis quo dolores id magni vitae rerum ab cum quis adipisci provident atque earum amet odit vero dolore alias, debitis tempora harum explicabo temporibus labore. Provident possimus facilis, iusto debitis tempore voluptas, reiciendis qui saepe doloribus, cupiditate quasi rem. Reprehenderit.</p>

   <img src="/redwood.jpg" alt="red wood" class="w-[95vw] hide mt-10 rounded-md">

   <small class="text-gray-700 text-xs mt-2">[Redwood National park - USA]</small>

</section>
 

<section class="bg-[var(--app-col)] py-20 flex flex-col justify-center items-center">
   <h2 id="explore" class="text-white text-2xl mt-5 font-bold border-b-2 border-[var(--app-second-col)] hide">Discover</h2>

    <!-- gird -->

    <div class="grid-container mb-20">


 <div class="a hide">
   <a href="#" class="w-full z-10 absolute wrapper text-lg text-white flex justify-center h-full items-center p-4">North America</a>
 </div>

 <div class="b hide">
   <a href="#" class="w-full h-full z-10 absolute wrapper text-lg text-white flex justify-center items-center p-4">South America</a>
 </div>

 <div class="c hide">
   <a href="#" class="w-full z-10 absolute wrapper text-lg text-white flex justify-center h-full items-center  p-4">Europe</a>
 </div>

 <div class="d hide">
   <a href="#" class="w-full z-10 absolute wrapper text-lg text-white flex justify-center  h-full items-center  p-4">Africa</a>
 </div>

 <div class="e hide">
   <a href="#" class="w-full z-10 absolute wrapper text-lg text-white flex justify-center h-full items-center  p-4">Asia</a>
 </div>

 <div class="f hide">
   <a href="#" class="w-full z-10 absolute wrapper text-lg text-white flex justify-center h-full items-center  p-4">Oceania</a>
 </div>


  
    </div>

</section>

<ScrollTop client:load/>
	
</Layout>


