---
import Layout from "../layouts/layout.astro";
---

<Layout title='Forêt'>
	<!-- background pic -->
<main class="bg-hero">

    <!--bg hero -->
    <div class="flex justify-center items-center pt-40 flex-col">
       <h1 class="text-white text-5xl font-bold border-b-2 border-[#f7ebb3]">Discover</h1>

       <p class="text-center text-white hero mt-8 w-44">The most beautiful forests around the globe.</p>
    </div>
     
 </main>

 <!--body sections -->

 <section class="">
   <p>hola</p>
 </section>

	
</Layout>
