---
import Layout from "../layouts/layout.astro"
import Goback from "../components/Goback";
import ScrollTop from "../components/ScrollTop";
export const prerender = true;
---

<script>
    const observer = new IntersectionObserver((entries) => {
   entries.forEach((entry) => {
      if(entry.isIntersecting) {
         entry.target.classList.add('show');
         
      }
   });
  });
 
  const hiddenElements = document.querySelectorAll('.hide');
  hiddenElements.forEach((item) => observer.observe(item));


  //loading

window.addEventListener("load", () => {
  const loader = document.querySelector(".loader") as HTMLElement;
  loader.classList.add("loader-hidden");

  loader.addEventListener("transitionend", () => {
    if(loader){
  
    document.body.removeChild(loader);
   
}
  });
});


 </script>

<Layout title='Forêt | South America'>

    <!--loader -->

<div class="loader"></div>
    
<main class="sa h-[50vh] md:hidden relative">
  <div class="hide pt-28">

  <!--go back btn -->

<Goback client:load/>

  <!--title -->

  <h1 class="text-white  text-4xl mt-16 font-bold hero flex justify-center">South America</h1>
            
          </div>
          <div class='hero-fade absolute bottom-0 w-full'>
         </div>
  

    </main>


 
  <!--desktop view -->
  <main class="hidden relative md:flex justify-center  w-[85vw] mx-auto">
  

  <div class="hide mx-auto">
  <!--title -->
      <!--go back btn -->
      <Goback client:load/>
 

      <h1 class="text-white pt-28 text-4xl mt-16 font-bold w-[20vw] mx-auto border-b-2 border-[var(--app-second-col)]  text-center">South America</h1>

      <img src="/sa-bg.jpg" alt="north america" class="w-[100vw] object-cover h-[60vh]  hide mt-10 rounded-md">
      <div class='hero-fade absolute bottom-0 w-full'>
      </div>
   
    </div>


</main>


    <!--secition form -->
    <section class="bg-[var(--app-col)] py-20 flex flex-col relative justify-center items-center md:w-[60vw] md:mx-auto ">

    <div class="md:flex md:mt-20 ">
      <div>
       <h2 id="about" class="text-white text-2xl mx-auto text-center w-36 mt-5 font-bold border-b-2 border-[var(--app-second-col)] hide">Info 🌎</h2>
    
       <p class="text-white text-sm text-center md:w-[20vw] mx-12 mt-10 hide">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum sequi ea quisquam sit aliquid culpa deleniti, doloribus tempora? Ut dolore sequi accusantium voluptates eos deleniti, laudantium distinctio sapiente nobis quis voluptatum nemo repudiandae fugiat officia repellendus ducimus cupiditate eveniet perferendis a explicabo ex. Repellat culpa quasi nemo rerum laboriosam ad.</p>
      </div>

      <div class="flex flex-col justify-center">
        <!-- image of about us -->
      <img src="/sa-1.jpg" alt="black-forest" class="w-[100vw] relative mx-auto md:h-[40vh] object-cover hide mt-10 rounded-md">
     
 <small class="text-gray-700 mx-auto text-xs mt-2">[Andine Patagonic Forest- Argentina/ Chile]</small>
</div>
    
   </div> 

 <!--popular forests -->
 
 <h2 id="about" class="text-white text-2xl mt-16 font-bold border-b-2 border-[var(--app-second-col)] hide">Popular Forests</h2>

   
<div class="grid-container-page my-10 relative flex flex-col justify-center  md:mx-auto">
    <a href="# " class="pa relative">
     <!--   forest of los arrayanes -->
     <p class="bg-[var(--bg-wrapper)] p-4 flex justify-center text-white w-full absolute">Forest of Arrayanes  🇦🇷</p>
        <img src="/sa-pa.jpg" alt="bosque argentina" class="rounded-lg object-cover h-full w-full">
    </a>

    <a href="# " class="pb relative">
      <!--  park of palma de cera la samaria -->
      <p class="bg-[var(--bg-wrapper)] p-4 flex justify-center text-white w-full absolute">Park cera la Samaria  🇨🇴</p>
        <img src="/sa-pb.jpg" alt="bosque argentina" class="rounded-lg object-cover h-full w-full">
    </a>

    <a href="# " class="pc relative ">
       <!-- National Park of Manu -->
       <p class="bg-[var(--bg-wrapper)] p-4 flex justify-center text-white w-full absolute">National Park of Manu  🇵🇪</p>
        <img src="/sa-pc.jpg" alt="bosque argentina" class="rounded-lg object-cover h-full w-full">
    </a>

    <a href="# " class="pd relative">
      <!--   National Park Torres del Paine -->
      <p class="bg-[var(--bg-wrapper)] p-4 flex justify-center text-white w-full absolute">National Park Torres del paine 🇨🇱</p>
        <img src="/sa-pd.jpg" alt="bosque argentina" class="rounded-lg object-cover h-full w-full"></a>

    <a href="# " class="pe relative">
    <!--    National Park Tijuca -->
         <p class="bg-[var(--bg-wrapper)] p-2 flex justify-center text-white w-full absolute">National Park Tijuca 🇧🇷</p>
        <img src="/sa-pe.jpg" alt="bosque argentina" class="rounded-lg object-cover h-full w-full"></a>
 </div>


  </section>
  <ScrollTop client:load/>
 
</Layout>