/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*navbar bg*/

.bg-nav{
    background-color: rgba(0, 0, 0, 0.5);
}


.hero{
    background-image: radial-gradient(closest-side,rgb(0,26,17)  , rgba(255,0,0,0));
    backdrop-filter: blur(1px);
    display: flex;
    align-items: center;
    height: 100px;
}
