/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --app-col: #000509;
    --app-second-col:#00E474;
    --bg-wrapper: rgba(0,0,0, 0.5);
}

/*navbar bg*/

.bg-nav{
    background-color: rgba(0, 5, 9, 0.4);
    backdrop-filter: blur(5px);
}


/*hero*/

.bg-hero{
    background-image: url('/bg.forest.jpg');
    width: 100vw;
    background-size: cover;
}

.hero-fade{
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), #000509);
    height: 15vh;

}

.hero{
    background-image: radial-gradient(closest-side,rgb(0,26,17)  , rgba(255,255,255,0));
    display: flex;
    align-items: center;
    height: 100px;
}


/*grid container*/

.grid-container{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 6px 6px; 
    height: 85vh;
    width: 95vw;
    margin-top: 5rem;
    grid-template-areas: 
      "a a a b b"
      "c c c b b"
      "d d e e e"
      "d d f f f"

}

.a{
    background-image: url('/na-forest.jpg');
    height: auto;
    width: auto;
    grid-area: a;
    background-position: center;
    background-size: cover;
    border-radius: 2%;
}

.b{
    background-image: url('/sa-forest.jpg');
    height: auto;
    width: auto;
    grid-area: b;
    background-position: center;
    background-size: cover;
    border-radius: 2%;

}

.c{
    background-image: url('/eu.jpg');
    border-radius: 2%;
    height: auto;
    width: auto;
    grid-area: c;
    background-position: center;
    background-size: cover;
}
.d{
    background-image: url('/fa-forest.jpg');
    height: auto;
    width: auto;
    grid-area: d;
    background-position: center;
    background-size: cover;
    border-radius: 2%;
}

.e{
    background-image: url('/as-forest.jpg');
    height: auto;
    width: auto;
    grid-area: e;
    background-position: center;
    background-size: cover;
    border-radius: 2%;

}

.f{
    background-image: url('/oc-forest.jpg');
    border-radius: 2%;
    height: auto;
    width: auto;
    grid-area: f;
    background-position: center;
    background-size: cover;
}

.wrapper{
    background-color: var(--bg-wrapper);
   
}

/*animate*/


.hide{
    opacity: 0;
    transition: all 3s;
    filter: blur(2px);
}

.show{
    opacity: 1;
    filter: blur(0);
}

/*back to top btn*/

.top-to-btm{
    position: relative;
  }
  .icon-position{
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 20;
  }
  .icon-style{
    background-color: var(--app-second-col);
    border: 2px solid #fff;
    border-radius: 10%;
    height: 50px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    animation: movebtn 3s ease-in-out infinite;
    transition: all .5s ease-in-out;
  }
  .icon-style:hover{
    animation: none;
    background: #fff;
    color: var(--app-second-col);
    border: 2px solid var(--app-second-col);
  }
  @k