/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --app-col: #021F0E;
}

/*navbar bg*/

.bg-nav{
    background-color: rgba(0, 0, 0, 0.5);
}


/*hero*/

.bg-hero{
    background-image: url('/bg.forest.jpg');
    height: 70vh;
    width: 100vw;
    background-size: cover;
}

.hero{
    background-image: radial-gradient(closest-side,rgb(0,26,17)  , rgba(255,255,255,0));
    display: flex;
    align-items: center;
    height: 100px;
}
