---
import MenuMobile from "./MenuMobile";
---

<nav class="flex justify-between px-8 z- items-center py-4 border-b-[1px] border-[var(--app-second-col)] fixed top-0 w-screen z-10 bg-nav">
    <div>
        <p class="font-bold text-white">Forêt</p>
    </div>

    <!-- menu mobile -->
   
    <MenuMobile client:load/>

</nav>


