


<nav class="flex justify-between items-center px-20 py-5 bg-nav">
    <div>
        <p class="text-red-400 font-bold p-2 bg-black rounded-md">Neo-Tokyo</p>
    </div>

    <ul class="flex space-x-7">
        <li><a href="" class="text-white">Home</a></li>
        <li><a href="" class="text-white">About</a></li>
        <li><a href="" class="text-white">Anime</a></li>
        <li><a href="" class="text-white">Manga</a></li>
    </ul>
</nav>