


<nav class="flex justify-between px-20 pt-5">
    <div>
        <p>Neo-Tokyo</p>
    </div>

    <ul class="flex space-x-7">
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Anime</a></li>
        <li><a href="">Manga</a></li>

    </ul>
</nav>