---
import MenuMobile from "./MenuMobile";
---

<nav class="flex justify-between items-center mx-10 py-4 border-b-2 border-[#f7ebb3] ">
    <div>
        <p class="font-bold text-white">Forêt</p>
    </div>

    <!-- menu mobile -->
   
    <MenuMobile/>

</nav>