---
import MenuMobile from "./MenuMobile";
---

<nav class="flex justify-between items-center mx-10 py-4 border-b-2 border-[#f7ebb3] ">
    <div>
        <p class="font-bold text-white">Forêt</p>
    </div>

    <!-- menu mobile -->
   
    <MenuMobile/>

</nav>

<!-- background pic -->
<main cl>
     
     <div class="flex justify-center items-center mt-40 flex-col">
        <h1 class="text-white text-5xl font-bold border-b-2 border-[#f7ebb3]">Discover</h1>

        <p class="text-center text-white hero mt-8 w-44">The most beautiful forests around the globe.</p>
     </div>
      
  </main>

